In [1]:
import pandas as pd
import os

In [2]:
output_folder_path = r"C:\Users\bennetwe\Documents\Code\simson_data\data\cement\output"
output_dataset_path = os.path.join(output_folder_path, "datasets")
output_dimensions_path = os.path.join(output_folder_path, "dimensions")

In [3]:
input_folder_path = r"C:\Users\bennetwe\Documents\Code\simson_data\data\cement\input"
usgs_path = os.path.join(input_folder_path, r"USGS/ds140-cement-2021.xlsx")

df = pd.read_excel(usgs_path, sheet_name='Cement', header=4, usecols=[0, 8], nrows=122)
df_noNaN = df[df["World production"].notna()]

In [4]:
# create historic_years dimensions csv
df_noNaN["Year"].to_csv(os.path.join(output_dimensions_path, "historic_years.csv"), index=False)

In [5]:
# create cement production dataset csv
df_noNaN = df_noNaN.copy()
#df_noNaN.loc[:, 'Region'] = 'World'
df_noNaN.rename(columns={'Year': 'Historic Time', 'World production': 'value'}, inplace=True)
path = os.path.join(output_dataset_path, "cement_production.csv")
df_noNaN.to_csv(path, columns=['Historic Time', 'value'], index=False)

In [6]:
df_noNaN

     Historic Time         value
26            1926  6.240000e+07
27            1927  6.780000e+07
28            1928  7.220000e+07
29            1929  7.490000e+07
30            1930  7.230000e+07
..             ...           ...
117           2017  4.120000e+09
118           2018  4.060000e+09
119           2019  4.200000e+09
120           2020  4.210000e+09
121           2021  4.360000e+09

[96 rows x 2 columns]